* {
    box-sizing: border-box;
}

[class*="col-"] {
  width: 100%;
  float: left;
}
  
.row::after {
  content: "";
  clear: both;
  display: block;
}

div#pageHtml{
  background: url("sfondo.gif") no-repeat center;
  background-size: contain;
}

div.centro{
  margin-bottom: 20px;
}

/* div.intestazione{ */
  /* border-style: solid; */
  /* border-color: red; */
/* } */

/* div.navigation{ */
  /* border-style: solid; */
  /* border-color: red; */
/* } */

/* div#pageHtml{ */
  /* border-style: solid; */
  /* border-color: red; */
/* } */

/* div.functions{ */
  /* border-style: solid; */
  /* border-color: red; */
/* } */

/* div.pie { */
  /* border-top-style: solid; */
/* } */

div.subpage div.row h2 {
  padding-left: 15px;
}

ul.verticalMenu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul.verticalMenu * a {
  display: block;
  background-color: LightBlue;
  padding: 0px;
  margin: 0px;
  text-decoration: none;
  color: #000;
}

ul.verticalMenu.disabled {
    pointer-events: none;
    opacity:0.6;
}

ul.verticalMenu li {
  display: block;
  background-color: LightBlue;
  padding: 5px;
  margin: 5px;
}

ul.verticalMenu li.hidden {
  display: none;
}

ul.verticalMenu li.selected {
  background-color: Blue;
}

ul.actionBtns li {
  display: block;
  background-color: YellowGreen;
  padding: 5px;
  margin: 5px;
}

th, td{
  padding-right: 15px;
}

th.center, td.center{
  text-align: center;
}

table.leftAlign{
  padding: 15px;
  text-align: left;
}

table.rowSelection tr td:nth-child(1), 
table.rowSelection th:nth-child(1){
  display: none;
}

table.rowSelection thead {
  background-color: LightBlue;
}

table.rowSelection tbody tr:nth-child(odd) td{
  background-color: White;
}

table.rowSelection tr:nth-child(even) td{
  background-color: LightGray;
}

table.rowSelection tbody tr:nth-child(odd):hover td,
table.rowSelection tr:nth-child(even):hover td
{
  background-color: Blue;
}

p.updateInfo{
  font-style: italic;
}

table td textarea {
  width: 100%;
}

input[type="text"].sigla {
  width: 5em;
}

input[type="text"].invalid, input[type="number"].invalid {
  border-style: solid;
  border-width: 3px;
  border-color: red;
}

@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}
